<div class="contact-view container">
  <a
    [routerLink]="['/contacts']"
    routerLinkActive="active-link"
    class="back-button"
    ><mat-icon color="primary">keyboard_arrow_left</mat-icon
    ><span>Back to Contacts</span></a
  >
  <mat-card appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>person</mat-icon>
      </div>
      <mat-card-title
        >{{ contact?.firstName }} {{ contact?.lastName }}</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <div class="data-table">
        <div><mat-icon>perm_identity</mat-icon>First name</div>
        <div>{{ contact?.firstName }}</div>
        <div><mat-icon>perm_identity</mat-icon>Last Name</div>
        <div>{{ contact?.lastName }}</div>
        <div><mat-icon>phone </mat-icon>Phone</div>
        <div>{{ contact?.phone }}</div>
        <div><mat-icon>phone </mat-icon>Secondary phone</div>
        <div>{{ contact?.secondaryPhone }}</div>
        <div><mat-icon>mail </mat-icon>Email address</div>
        <div>{{ contact?.email }}</div>
        <div><mat-icon>location_city </mat-icon>Address</div>
        <div>{{ contact?.address }}</div>
        <div><mat-icon>date_range </mat-icon>Birthday</div>
        <div>{{ contact?.birthday | date }}</div>
        <div><mat-icon>check</mat-icon>Additional info</div>
        <div>{{ contact?.additionalInfo }}</div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="edit-contact">Edit</button>
      <button mat-button (click)="openDialog()">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
