<div class="create-edit-wrapper container">
  <a
    [routerLink]="['/contacts']"
    routerLinkActive="active-link"
    class="back-button"
    ><mat-icon color="primary">keyboard_arrow_left</mat-icon
    ><span>Back to Contacts</span></a
  >
  <h4>Contact information</h4>
  <form [formGroup]="contactForm">
    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error>
        The field is required and must contain between 3 and 20
        characters.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastName" />
      <mat-error>
        The field is required and must contain between 3 and 20
        characters.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Primary phone</mat-label>
      <input
        matInput
        [imask]="{ mask: '+00 (000) 000-00-00' }"
        [unmask]="true"
        placeholder="+38 (067) 000-00-00"
        formControlName="phone"
      />
      <mat-error>Please provide valid data.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Secondary phone</mat-label>
      <input
        matInput
        [imask]="{ mask: '+00 (000) 000-00-00' }"
        [unmask]="true"
        placeholder="+38 (067) 000-00-00"
        formControlName="secondaryPhone"
      />
      <mat-error>Please provide valid data.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="mail@domain.com" formControlName="email" />
      <mat-error> Please provide valid data. </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" />
      <mat-error>
        The field must contain between 3 and 20 characters.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Birthday date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthday" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Additional information</mat-label>
      <textarea matInput formControlName="additionalInfo"></textarea>
      <mat-error> The field must contain less than 100 characters. </mat-error>
    </mat-form-field>
  </form>
  <button
    mat-flat-button
    color="primary"
    [disabled]="contactForm.invalid"
    (click)="onFormSubmit()"
  >
    {{ submitButtonName }}
  </button>
</div>
